{% extends "base.html" %}
{% block metatitle %}
Студия йоги Ом - наши тренеры
{% endblock %}
{% block title %}
Студия йоги Ом - наши тренеры
{% endblock %}
{% block breadcrumb %}
<a href="/">Главная</a> >> Наши тренеры
{% endblock %}
{% block content %}

  <section class="section featured-section dark">
    <div class="centering">
      <div class="grid stretch-grid reverse-grid">

        {% for coacher in object_list %}
        <div class="grid-xs-12 grid-s-6 featured-meta">
          <div class="intro-text">
            <span class="sub-text">{{coacher.specialization}}</span>
            <h2 class="intro-title">{{coacher.name}}</h2>
            <div class="intro-content">
              <h3 style="color: #fff;">{{coacher.title}}</h3>
              <p>{{coacher.description}}</p>
            </div>
            <a href="#" title="Read More" class="button">Read More</a>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>

{% endblock %}
