<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Студия йоги Ом - наши тренеры</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<meta name="description" content="Студия йоги Ом">
    <link rel="stylesheet" id="xtheme-layout-css" href="http://ips2021.org/css1/layout.css" type="text/css" media="all">
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>

  <header class="header">
    <div class="header-container centering">
        <div class="header-logo">
            <a href="/" title="Back to Homepage">
                <img src="http://ips2021.org/css1/logo.png" alt="Yoga">
            </a>
        </div>

        <a class="hamburger" href="#" title="Menu">
            <span class="line-1"></span>
            <span class="line-2"></span>
            <span class="line-3"></span>
        </a>
    </div>

    <nav id="main-nav" class="main-nav centering">
	  <ul id="menu-main-menu" class="menu">
	    <li class="menu-item"><a href="/">Предстоящие события</a></li>
        <li class="menu-item"><a href="/coachers">Тренеры</a></li>
      </ul>
    </nav>

  </header>
  <div class="page-header">
    <div class="centering">
      <div class="page-title">
        <h1>Студия йоги Ом - наши тренеры</h1>
      </div>
    </div>
  </div>


  <section class="section featured-section dark">
    <div class="centering">
      <div class="grid stretch-grid reverse-grid">

        {% for coacher in object_list %}
        <div class="grid-xs-12 grid-s-6 featured-meta">
          <div class="intro-text">
            <span class="sub-text">{{coacher.specialization}}</span>
            <h2 class="intro-title">{{coacher.name}}</h2>
            <div class="intro-content">
              <h3 style="color: #fff;">{{coacher.title}}</h3>
              <p>{{coacher.description}}</p>
            </div>
            <a href="#" title="Read More" class="button">Read More</a>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>


  <footer id="site-footer" class="footer" role="contentinfo" aria-label="Main Footer">
    <div class="footer-content centering">
      <div class="grid">
        <div class="grid-xs-12 grid-s-6 grid-md-6 widget">
          <img class="footer-logo" src="http://ips2021.org/css1/logo_white.png">
          <p>Ом</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html></title>
</head>
<body>

</body>
</html>
