{% extends "base.html" %}
{% block metatitle %}
Студия йоги Ом - добавить участника
{% endblock %}
{% block title %}
Студия йоги Ом - добавить участника
{% endblock %}
{% block breadcrumb %}
<a href="/">Главная</a> >> Создать нового участника
{% endblock %}
{% block content %}

  <section class="section featured-section dark">
    <div class="centering">
      <div class="grid stretch-grid reverse-grid">
        <div class="grid-xs-12 grid-s-6 featured-meta">
          <div class="intro-text">
            <span class="sub-text">Создание участника</span>
            <h2 class="intro-title">Новый участник</h2>
            <div class="intro-content">
              <h3 style="color: #fff;">Форма</h3>
              <form method="post">
    			<div class="form-item">
                  <label class="form-label">Имя</label>
                  <input type="text" name="name" class="form-input">
                </div>
                <input type="submit" value="Сохранить" class="button">
              </form>
            </div>
          </div>
        </div>
        <div class="grid-xs-12 grid-s-6">
          <div class="featured-image section-img with-bg" style="background-image: url(http://ips2021.org/css1/img3.jpg)"></div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

