    <nav id="main-nav" class="main-nav centering">
	  <ul id="menu-main-menu" class="menu">
	    <li class="menu-item"><a href="/">Предстоящие события</a></li>
        <li class="menu-item"><a href="/categories/">Направления</a></li>
        <li class="menu-item"><a href="/coachers/">Тренеры</a></li>
        <li class="menu-item"><a href="/courses/">Уроки</a></li>
        <li class="menu-item"><a href="/students/">Участники</a></li>
        <li class="menu-item"><a href="/contacts/">Контакты</a></li>
      </ul>
    </nav>